//
// ## Defaults
//

// ### Setup

loom = {}

// ### Base

loom.base = {
  fontSize: 1rem,
  spacingUnit: 1.5rem,
  wrapWidth: 64rem
}

// ### Breakpoints

loom.breakpoint = {
  palm: 'screen and (max-width: 480px)',
  lap: 'screen and (min-width: 769px)',
  desk: 'screen and (min-width: 1024px)',
  useWidths: true
}

// ### Widths

loom.width = {
  'one-of-one': 100%,
  'three-of-four': 75%,
  'two-of-three': 66.666%,
  'one-of-two': 50%,
  'one-of-three': 33.333%,
  'one-of-four': 25%
}
