//
// ### `cramp`
//

// The `cramp` object is used to remove margins from the top and/or
// the bottom of an element.

.cramp
  margin-top: 0
  margin-bottom: 0

.cramp--above
  margin-top: 0

.cramp--below
  margin-bottom: 0
