//
// ### `grid`
//

// The `grid` object is used to build a grid-based layout.
//
// It depends on the `clearfix` object and utilizes the `widths` utilities.

.grid
  position: relative
  margin-left: (-  loom.base.spacingUnit)
  @extend $clearfix

.grid__item
  float: left
  padding-left: loom.base.spacingUnit
