//
// ### `island`
//

// The `island` object is used to add paddings to an element
// and to make it into a block element.

.island,
.islet,
.landmark
  display: block

.island
  padding: loom.base.spacingUnit

.islet
  padding: loom.base.spacingUnit * 0.5

.landmark
  padding: loom.base.spacingUnit * 2
