//
// ### `space`
//

// The `space` object is used to add margins to the top and/or
// the bottom of an element.

.space
  margin-top: loom.base.spacingUnit
  margin-bottom: loom.base.spacingUnit

.space--above
  margin-top: loom.base.spacingUnit

.space--below
  margin-bottom: loom.base.spacingUnit
