//
// ### `breadcrumb`
//

// The `breadcrumb` utility is used to add breadcrumb-like styling
// to an element.
//
// It should be used in conjunction with the `lineup` object.

.breadcrumb
  &:after
    content: attr(data-crumb)
