//
// ### `ratios`
//

// The `ratios` utilities are used to set the ratio of an element.

.four-by-three
  &:before
    padding-top: 75%

.sixteen-by-nine
  &:before
    padding-top: 56.25%

.two-by-one
  &:before
    padding-top: 50%

.three-by-one
  &:before
    padding-top: 33.333%
