//
// ### `widths`
//

// The `widths` utilities are used to set the width of an element.
// Using a predefined breakpoint prefix will make them context-sensitive.

for name, value in loom.width
  unless name == 'fluid'
    .{name}
      width: value

if loom.width.fluid
  for point, break in loom.breakpoint
    @media break
      for name, value in loom.width
        unless name == 'fluid'
          .{point}--{name}
            width: value
